<div class="card start-feed">
  <div class="card-body start-feed-content">
    <div>
      <a <i class="fa fa-pencil"> <%= link_to "start a post", new_post_path %> </i></a>
    </div>
    <div>
      <a <i class="fa fa-camera"> <%= link_to "upload an image", new_post_path %> </i> </a>
    </div>
    <div>
      <a href="#"> <i class="fa fa-newspaper-o"> </i></a>
    </div>
  </div>
</div>
<div class="card mt-4">
  <div class="card-body">
    <div class="card-flex">
      <div><%= gravatar_for @user , 100 %></div>
      <div class="user-header">
        <p class="user-detail"><%= name(@user)%></p>
        <p class="user-detail"><%= @user.email%></p>
        <p class="user-detail">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>
        <p class="user-detail">Friends: <%= @user.friends.count %></p>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div>
      <%= link_to 'posts', user_post_path, class: 'btn btn-success rounded-0'%>
      <%= link_to 'friends', friends_path, class: 'btn btn-success rounded-0'%>
      <% if my_profile @user%>
      <%= link_to 'pending friends', pending_friends_path, class: 'btn btn-success rounded-0'%>
      <% elsif current_user.friend?(@user)%>
      <p>You are friends</p>
      <% elsif current_user.pending_friend? @user%>
      <button class="btn-primary">Pending Request</button>
      <% else%>
      <%= link_to 'Request Friendship', request_friend_path(@user), class: 'btn btn-success rounded-0'%>
      <% end%>
    </div>
  </div>
</div>
