<div class="card start-feed">
  <div class="card-body start-feed-content">
    <div>
      <a <i class="fa fa-pencil"> <%= link_to "start a post", new_post_path %> </i></a>
    </div>
    <div>
      <a <i class="fa fa-camera"> <%= link_to "upload an image", new_post_path %> </i> </a>
    </div>
    <div>
      <a href="#"> <i class="fa fa-newspaper-o"> </i></a>
    </div>
  </div>
</div>
<% if !@posts.blank? %>
<% @posts.each do |post| %>
<div class="card mt-4">
  <div class="card-body">
    <div>
      <%= gravatar_for post.user , 40 %>
      <small><%= post_owner post%></small>
    </div>
    <p class="card-text"><%= link_to truncate(post.description), post %></p>
    <% if post.image %>
    <img class="card-img-top" src="..." alt="Card image cap">
    <%end%>
  </div>
</div>
<%end%>
<% else %>
Nothing Here
<%end%>